:root {
    --color-red: hsl(356deg, 100%, 66%);
    --color-red-secundary: hsl(355deg, 100%, 74%);
    --color-orange: hsl(13deg, 100%, 72%);
    --color-gray-primary: hsl(240deg, 10%, 16%);
    --color-gray-secondary: hsl(208deg, 49%, 24%);
    --color-light-gray: hsl(240deg, 2%, 79%);
    --gap: 3.5rem;
    --border-radius: 12rem;
}

* {
    padding: 0;
    margin: 0;
}

html {
    font-family: "Ubuntu", sans-serif;
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    color: #ffffff;
    font-size: 1.6rem;
}

.logo {
    font-size: 4rem;
}

.container {
    min-width: 50rem;
    width: 100%;
    max-width: 120rem;
}

section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* HEADER   */

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    height: 7rem;
    padding: 4rem 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    
}

nav > div {
    display: flex;
    align-items: center;
    height: 100%;       
}

.nav__left {  
    gap: var(--gap);
    font-size: 1.5rem;
    font-weight: 500;
}

.nav__left a {
    color: #ffffff;
    text-decoration: none;
}

nav ul {
    display: flex;
    gap: var(--gap);
    list-style: none;
    align-items: center;
    justify-content: center;
}

nav li {
    padding: 0.8rem 0.4rem;
}

/* */

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16rem;
    padding-bottom: 16rem;
}

/* START */
.start {
    text-align: center;
    background: linear-gradient(75deg, var(--color-orange), var(--color-red) 60%);
    border-radius: 0 0 0 var(--border-radius);
    height: 55rem;
}

.start__title {
    font-size: 5.6rem;
    margin-bottom: 2.5rem;
}

.start__extra {
    font-size: 1.9rem;
    margin-bottom: 6.5rem;
}

.start__buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.footer-container{
    display: flex;
    flex-direction: row;
}

/* DESIGN */
.design{
    color: var(--color-gray-primary);
    max-height: 67rem;
}

.design__title{
    font-size: 3.2rem;
    margin-bottom: 2.5rem;
    text-align: center;
}

.design-container{
    display: flex;
    flex-direction: row;
    height: 55rem;
    align-items: center;
    justify-content: center;
}

.design-container__content{
    width: 50%;
    height: 100%;
}

.design-container__content h1{
    color: var(--color-gray-secondary);
    font-weight: 500;
    font-size: 2.4rem;
    margin-top: 4.8rem;
    margin-bottom: 2.4rem;
}

.design-container__content p{
    font-size: 1.6rem;
    line-height: 1.8;
    max-width: 48rem;
}

.design-container__image{
    width: 50%;
    height: 100%;
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: center;
}

.design-container__image img{
    width: 80rem;
    transform: translateX(15rem);

}

/* MOBILE */

.mobile{
    background: linear-gradient(75deg, var(--color-gray-primary), var(--color-gray-secondary) 60%);
    border-radius: 0 var(--border-radius) 0 var(--border-radius);
    height: 40rem;
}

.mobile-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.mobile-container__content{
    width: 50%;
}

.mobile-container__content div{
    width: 100%;
    padding-left: 2.3rem;
}

.mobile-container__content h1{
    font-size: 3.2rem;
    margin-top: 4.8rem;
    margin-bottom: 2.4rem;
}

.mobile-container__content p{
    font-size: 1.6rem;
    line-height: 1.8;
    max-width: 50rem;
}

.mobile-container__image{
    width: 50%;
    height: 100%;
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* LAPTOP */

.laptop{
    color: var(--color-gray-primary);
    max-height: 55rem;
}

.laptop-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.laptop-container__content{
    width: 50%;
}

.laptop-container__content div{
    width: 100%;
    padding-left: 2.3rem;
}

.laptop-container__content h1{
    color: var(--color-gray-secondary);
    font-weight: 500;
    font-size: 2.4rem;
    margin-top: 4.8rem;
    margin-bottom: 2.4rem;
}

.laptop-container__content p{
    font-size: 1.6rem;
    line-height: 1.8;
    max-width: 48rem;
}

.laptop-container__image{
    width: 50%;
}

.laptop-container__image img{
    width: 80rem;
    transform: translateX(-26.5rem);
}

/* FOOTER */

footer {
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-gray-primary);
    border-radius: 0 var(--border-radius) 0 0;
}

.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5rem 0;
}

.footer__column{
    flex-grow: 1;
}

.footer__column h2{
    font-size: 1.6rem;
    margin: .8rem 0 3.2rem 0;
}

.footer__column ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer__column a{
    text-decoration: none;
    color: var(--color-light-gray);
}

/* BUTTONS */

.btn {
    width: 13.5rem;
    padding: 1.4rem 0;
    border-radius: 100vw;
    text-align: center;
    transition: all 0.4s;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
}

.btn-white {
    background-color: #ffffff;
    color: var(--color-red);   
}

.btn-white:hover {
    background-color: var(--color-red-secundary);
    color: #ffffff
}

.btn-border {
    border: 0.1rem solid #ffffff;
}

.btn-border:hover {
    background-color: #ffffff;
    color: var(--color-red)
}