@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
    --color-red: hsl(356deg, 100%, 66%);
    --color-red-secondary: hsl(355deg, 100%, 74%);
    --color-orange: hsl(13deg, 100%, 72%);
    --color-gray: hsl(240deg, 10%, 16%);
    --color-blueish-gray: hsl(208deg, 49%, 24%);
    --color-light-gray: hsl(240deg, 2%, 79%);
    --border-radius: 12rem;
}

* {
    padding: 0;
    margin: 0;
}

html {
    font-family: "Ubuntu", sans-serif;
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    color: #ffffff;
    font-size: 1.6rem;
}

.logo {
    font-size: 4rem;
}

.container {
    min-width: 50rem;
    width: 100%;
    max-width: 120rem;
}

.inner-container {
    display: flex;
    height: 55rem;
    align-items: center;
    justify-content: center;
}

section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2,
h3 {
    margin-top: 4.8rem;
    margin-bottom: 2.4rem;
}

h2 {
    font-size: 3.2rem;
    font-weight: 600;
}

h3 {
    font-size: 2.4rem;
    font-weight: 500;
    color: var(--color-blueish-gray);
}

p {
    font-size: 1.6rem;
    font-weight: 300;
    max-width: 50rem;
    line-height: 1.8;
}

/* HEADER   */

header {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    height: 7rem;
    padding: 4rem 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__left {
    display: flex;
    gap: 3.5rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.nav__left a {
    color: #ffffff;
    text-decoration: none;
}

.nav__right {
    display: flex;
}

nav ul {
    display: flex;
    gap: 3.5rem;
    list-style: none;
    align-items: center;
}

nav li {
    padding: 0.8rem 0.4rem;
}

/* */

.main {
    display: flex;
    flex-direction: column;
    gap: 16rem;
    padding-bottom: 16rem;
}

/* START */
.start {
    text-align: center;
    background: linear-gradient(
        75deg,
        var(--color-orange),
        var(--color-red) 60%
    );
    border-radius: 0 0 0 var(--border-radius);
    height: 55rem;
}

.start__title {
    font-size: 5.6rem;
    margin-bottom: 2.5rem;
}

.start__extra {
    font-size: 1.9rem;
    margin-bottom: 6.5rem;
    font-weight: 300;
    max-width: unset;
    line-height: unset;
}

.start__buttons {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

/* DESIGN */
.design {
    color: var(--color-gray);
    max-height: 67rem;
}

.design__title {
    text-align: center;
    font-weight: 500;
    margin: 0 0 2.5rem;
}

.design__content,
.design__image {
    width: 50%;
    height: 100%;
}

.design__image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.design__image img {
    width: 80rem;
    transform: translate(20rem, -4.5rem);
}

/* MOBILE */

.mobile {
    background: linear-gradient(
        75deg,
        var(--color-gray),
        var(--color-blueish-gray) 60%
    );
    border-radius: 0 var(--border-radius) 0 var(--border-radius);
    height: 40rem;
}

.mobile__content {
    box-sizing: border-box;
    width: 50%;
    padding-left: 2.3rem;
}

.mobile__image {
    width: 50%;
    height: 100%;
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile__image img {
    transform: translateY(2rem);
}

/* LAPTOP */

.laptop {
    color: var(--color-gray);
    max-height: 55rem;
    height: 55rem;
}

.laptop__content {
    width: 50%;
}

.laptop__content div {
    width: 100%;
    padding-left: 2.3rem;
}

.laptop__image {
    width: 50%;
    height: 100%;
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: center;
}

.laptop__image img {
    width: 80rem;
    transform: translateX(-13rem);
}

/* FOOTER */

footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-gray);
    border-radius: 0 var(--border-radius) 0 0;
}

.footer-container {
    display: flex;
    justify-content: center;
    padding: 5rem 0;
}

.footer__column {
    flex-grow: 1;
}

.footer__column h2 {
    font-size: 1.6rem;
    margin: 0.8rem 0 3.2rem 0;
}

.footer__column ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer__column a {
    text-decoration: none;
    color: var(--color-light-gray);
}

/* BUTTONS */

.btn {
    width: 13.5rem;
    padding: 1.4rem 0;
    border-radius: 100vw;
    text-align: center;
    transition: ease-out 0.4s;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
}

.btn-white {
    background-color: #ffffff;
    color: var(--color-red);
}

.btn-white:hover {
    background-color: var(--color-red-secondary);
    color: #ffffff;
}

.btn-border {
    border: 0.1rem solid #ffffff;
}

.btn-border:hover {
    background-color: #ffffff;
    color: var(--color-red);
}
